/*  Theme Dark  */
.bg-black {
  background-color: black;
}
.bg-light-black {
  background-color: #262626 !important;
}
.text-black {
  color: black;
}
.text-light-black {
  color: #262626;
}
.bg-dark-primary {
  background-color: #fcbc73 !important;
}
.text-dark-primary {
  color: #fcbc73 !important;
}



/*  Them Light  */



/**/