/*  Theme Dark  */
.bg-black {
  background-color: black;
}
.bg-light-black {
  background-color: #262626 !important;
}
.text-black {
  color: black;
}
.text-light-black {
  color: #262626;
}
.bg-dark-primary {
  background-color: #f0eae3 !important;
}
.text-dark-primary {
  color: #f1e9e0 !important;
}

/*  Them Light  */

.bg-light {
  background-color: white;
}
.bg-light-2 {
  background-color: #dadcde;
}
.bg-light-primary {
  background-color: #191659 !important;
}
.text-light-primary {
  color: #191659 !important;
}


/**/